* {
  padding: 0;
  margin: 0;
}

.center {
  max-width: 1216px;
  margin: 0 auto;
}

img {
  font-size: 0;
}

@font-face {
  font-family: "Balsamiq Sans Regular";
  src: url("../assets/fonts/BalsamiqSans-Regular.ttf");
}
